body {
  font-family: Roboto2, Roboto, Noto Sans, Sans-Serif;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.inputview-accent-container {
  background-color: #FBFCFE;
  box-shadow: 0 0 6px rgba(204, 204, 204, 0.65),
            0 0 2px rgba(136, 136, 136, 0.65),
            0 0 6px rgba(204, 204, 204, 0.65),
            0 0 6px rgba(204, 204, 204, 0.65);
  display: inline-block;
}

.inputview-accent-row {
  display: block;
}

.inputview-accent-key {
  display: inline-block;
  text-align: center;
}

.inputview-accent-key > div {
  color: #37474f;
  display: inline-block;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.inputview-compact-font {
  font-size: 28px;
}

.inputview-full-font {
  font-size: 23px;
}

.inputview-font-small {
  font-size: 18px;
}

.inputview-element-highlight {
  background-color: #E4E7E9;
}
