body {
  background-color: transparent;
  margin: 6px;
  -webkit-box-shadow: 0 0 6px rgba(204, 204, 204, 0.65),
                      0 0 2px rgba(136, 136, 136, 0.65),
                      0 0 6px rgba(204, 204, 204, 0.65),
                      0 0 6px rgba(204, 204, 204, 0.65);
  overflow: hidden;
}

.accent-container {
  background-color: white;
  width: 100%;
  height: 100%;
}

.accent-row {
  box-sizing: border-box;
  display: block;
}

.accent-row div {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
}

.accent-row:not(:last-child) {
  border-bottom: 1px solid #cccccc;
}

.accent-row>div:not(.empty-key):not(:last-child) {
  border-right: 1px solid #cccccc;
}

.accent-row>div>div {
  color: #111111;
  font-size: 23px;
  height: 100%;
  line-height: 3;
  vertical-align: middle;
  text-align: center;
}

.highlight {
  background-color: #dddddd;
}
