body {
  background-color: transparent;
  box-shadow: 0 0 6px rgba(204, 204, 204, 0.65),
              0 0 2px rgba(136, 136, 136, 0.65),
              0 0 6px rgba(204, 204, 204, 0.65),
              0 0 6px rgba(204, 204, 204, 0.65);
  font-family: Roboto2, Roboto, Noto Sans, Sans-Serif;
  margin: 6px;
  overflow: hidden;
}

.inputview-accent-container {
  background-color: #FBFCFE;
  width: 100%;
  height: 100%;
}

.inputview-accent-row {
  display: block;
}

.inputview-accent-key {
  display: inline-block;
  text-align: center;
}

.inputview-accent-key > div {
  color: #37474f;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

.inputview-font {
  font-size: 40px;
}

.inputview-font-small {
  font-size: 24px;
}

.inputview-element-highlight {
  background-color: #E4E7E9;
}
